/* CSS Reset */

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    background: repeating-linear-gradient(45deg, rgb(235, 16, 16), #413d48 100px);
    background-position: center;
    background-size: 107px 108px;
    background-attachment: fixed;
}


/* Home Section */

#logo img {
    width: 100px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: 0%;
}

#logo h3 {
    color: #fff;
    position: absolute;
    top: 90px;
    left: 5%;
}

span {
    position: absolute;
    top: 2px;
    left: 78%;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}


/* Footer and navigation */

#footer {
    background-color: green;
}

.navbar {
    overflow: auto;
    white-space: nowrap;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
}

.navbar ul li {
    width: 32px;
    margin: 6px 6px;
}

.navbar ul li a {
    margin: 6px 6px;
    padding: 10px 10px;
}

.navbar .fa::before {
    font-size: 20px;
    margin: 26px 25px;
    padding: 25px 25px;
}


/* .navbar ul {
    display: inline-flex;
    list-style: none;
}

.navbar ul li {
    width: 30px;
    margin: 6px 26px;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.navbar .fa::before {
    font-size: 20px;
    margin: 26px 25px;
    padding: 25px 25px;
} */


/* .navbar ul {
    display: inline-flex;
    list-style: none;
}

.navbar ul li {
    width: 130px;
    margin: 17px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
}

.navbar .fa::before {
    font-size: 20px;
    margin: 56px;
} */