html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    background: repeating-linear-gradient(45deg, black, #413d48 100px);
    background-position: center;
    background-size: 107px 108px;
    background-attachment: fixed;
}

#logo img {
    width: 100px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 37%;
    border: 5px solid #fff;
}

#logo h3 {
    color: #fff;
    position: absolute;
    top: 122px;
    left: 38.6%;
    text-align: center;
}

#home ul {
    display: flex;
    padding: 0px 11px;
    cursor: pointer;
}

#home ul li {
    text-align: center;
    list-style: none;
    color: #fff;
    background-color: #000;
    margin: 200px 2px;
    border: 2px solid #fff;
    padding: 5px 6px;
    border-radius: 30px;
}

#home ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

#home .fa:before {
    margin-right: 4px;
}

.card {
    background: white;
    width: 400px;
    margin: 7px auto;
    padding: 0px;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
}

.card2 {

    width: 400px;
    height: 500px;
    overflow: hidden;
    margin: 20px auto;
    z-index: 0;
    opacity:1.4;
    background: url('../img/bg1.jpg');
    background-size: 100% 100%;
    color: white;
    padding: 0px 0px 27px;
}

#home .address {
    display: flex;
    flex-direction: column;
    margin-top: -120px;
}

#home .address a {
    color: #fff;
    text-decoration: none;
    width: -1px;
    height: 45px;
    display: flex;
    border-radius: 50%;
    margin-left: 35px;
    cursor:auto;
}
#home .address .fa{
    display:flex;
    align-items: center;
    justify-content: center;
    height:35px;
    width:35px;
    margin-right:18px;
    border: 2px solid black;
    border-radius: 50%;
    margin:-15px 12px;
}
/* nav {
    background-color: rgb(0, 255, 242);
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 15px 15px;
}
nav .fa::before {
    font-size: 25px;
    padding: 32px;
}
nav  a {
    text-decoration: none;
    color: black;
}  */
/* .menu_bottom {
    background: white;
    width: -webkit-fill-available;
    text-align: center;
    color: #2e2c41;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-x: auto;
}
.menu_container {
    width: 98%;
    text-align: left;
    display: flex;
}
.menu_item {
    text-align: center;
    font-weight: 600;
    display: inline-grid;
    font-size: 12px;
    margin: 15px;
    width: 209px;
    white-space: pre;
} */