* {
    margin: 0;
    padding: 0;
}

#navigation {
    border: 2px solid red;
    background-color: #21fc0d;
    font-family: 'Bree Serif', serif;
}

#navigation ul {
    display: flex;
    text-align: center;
    justify-content: center;
}

#navigation ul li {
    list-style: none;
    text-transform: uppercase;
    margin-right: 20%;
    margin: 12px 13px;
    padding: 15px 14px;
}

#navigation ul li a {
    text-decoration: none;
}

#navigation ul li:hover {
    border-radius: 15px;
    background-color: blue;
    color: #fff;
}

#navigation #logo {
    position: absolute;
    top: 8px;
    left: 25px;
}

#navigation #logo a {
    text-decoration: none;
}

#navigation img {
    width: 60px;
    height: 50px;
}

#navigation h3 {
    margin: -7px -5px;
}

#navigation #search {
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 20px;
}

#navigation #search input {
    border-radius: 20px;
    height: 25px;
    border: none;
    outline: none;
}

#home::before {
    content: "";
    background-image: linear-gradient(to right, #bb13fe98, #f100a1bd);
    width: 100%;
    height: 300px;
    position: absolute;
    top: 76px;
    left: 0px;
    z-index: -1;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0% 35%;
}