/* CSS Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
/* Navigation Bar */
header{
    position:sticky;
    top:0px;
    left:0px;
}
.navbar{
    background: turquoise;
    text-align: center;
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    color:#fff;
}
.navbar ul li{
    width:130px;
    margin: 17px;
    padding: 13px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li:hover{
    background: rgb(55, 5, 235);
    border-radius: 3px;
    color:white;
}
.smenu ul{
    display: none;
}
.navbar ul li:hover .smenu ul{
    display: block;
    background: turquoise;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
}
.navbar ul li:hover .smenu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navbar ul li:hover .smenu ul li:last-child
{
    border-bottom:none;
}
.navbar ul li:hover .smenu ul li a:hover
{
    color: #b2ff00;
}
svg{
    margin:-13px -15px;
}
.responsive-menu{
    text-decoration:none;
    display: none;
}
.fa-angle-right{
    float:right;
}
.smenu1{
    display:none;
}
.hover-me:hover .smenu1{
    position:absolute;
    display:block;
    margin-top:-40px;
    margin-left:140px;
    background: rgb(0,100,0);
}
.navbar .fa{
    margin-right: 8px;
}
.navigation .logo img{
    width: 70px;
    height: 60px;
    position: absolute;
    top: 1px;
    left: 30px;
    border-radius: 50%;
}
.navbar .logotext{
    font-size: 12px;
    position: absolute;
    top:60px;
    left:30px;
    font-family: 'Bree Serif', serif;
    color:white;
    font-style: italic;
}
header .search-box{
    position:absolute;
    top:50%;
    left:93%;
    height:40px;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    background:#2f3640;
    padding:10px;
}
header .search-btn{
    color: #e84118;
    float:right;
    width: 40px;
    height: 25px;
    margin-top:-22px;
    border-radius:50%;
    background:#2f3640;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: 0.4s;
}
header .search-txt{
    border: none;
    background:none;
    outline:none;
    float:left;
    padding:0;
    color: white;
    font-size: 16px;
    transition:0.4s;
    line-height: 20px;
    width:150px;
}
/* Body section */
#home{
    display:grid;
    grid-template-columns: 2fr 2fr 4fr;
}
#home::before{
    content:"";
    background:url('../img/bg.jpg') no-repeat center center/cover;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:550px;
    z-index: -1;
    opacity: 0.8;
}
.item{
    color: white; 
    font-size: large;
    margin: 80px 25px;
    margin-top: 90px;
    padding: 10px 60px;
}
.item h1{
    text-align:center;
    color: blue;
}
.item p{
    text-align:center;
    color:black;
    font-family: 'Bree Serif', serif;
}
/* About Section */
#team-section{
    display:grid;
    grid-template-columns: auto;
    margin-top: -110px;
}
#team-detail{
display:flex;
flex-wrap: wrap;
align-items:center;
justify-content:center;
margin-top:-80px;
} 
#team-detail h5,p{
    text-align:center;
}
#team-detail .team-item{
    border: 2px solid #9b59b6;
    background: #3a70e6b9;
    padding:32px;
    margin-top: 10px;
}
#team-detail img{
    width:200px;
    border-bottom: 5px solid greenyellow;
}
/* Services Section */
#services{
    text-align: center;
    background:#10ecc0a6;
    display: flex;
    flex-direction:column;
}
#services h1{
    color:blue;
    margin-top: 50px;
}
#services p{
    font-family: 'Bree Serif', serif; 
}
#services #service-container{
    display:flex;
}
#services #service-container .item{
    /* border:2px solid red; */
    margin-top: 20px;
}
#services #service-container .item img{
    width: 15rem;
}

/* Footer section */
footer{
    background: #2749c4;
    background: -moz-linear-gradient(left,  #2749c4 0%, #6085b2 100%);
    background: -webkit-linear-gradient(left,  #2749c4 0%,#6085b2 100%);
    background: linear-gradient(to right,  #2749c4 0%,#6085b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2749c4', endColorstr='#6085b2',GradientType=1 );
    color:#fff;
    position:relative;
}
footer .footer{
    width: 1200px;
    margin: 0 auto;
}
footer .row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:90px;
}
footer .footer-col{
  width: 230px;
  margin-top:10px;
}
footer .footer-col:first-child{
    width: 400px;
}
footer .footer-col h4{
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 20px;
    color: #10ecc0;
}
footer .social-links {
    margin-top: 20px;
}
footer .social-links a{
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
footer .social-links a:hover{
    color: #24262b;
	background-color: #ffffff;
}
footer .footer-col ul{
    list-style: none;
}
footer .footer-col ul li{
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}
footer .footer-col ul li a{
    color: #fff;
    text-decoration: none;
}
footer .footer-col ul li a:hover{
    color: #ffffff;
	padding-left: 8px;
}
footer .footer-col ul li a i{
    position: absolute;
    left: 0;
    top: 2px;
}
footer .right{
    position: fixed;
    bottom:10px;
    right: 10px;
}
footer .right .fa{
    font-size: 2.5em;
}
footer .copy p{
    text-align:center;
    margin-top: 5px;
    color:#fff;
}
